.title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title__text {
    font-size: 56px;
    font-weight: bold;
    color: #000;
}

.title__sub-block {
    display: flex;
    gap: 8px;
}

.title__img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.title__sub-value {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 16px;
}

.title__sub-value:not(:last-child)::after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
}
